html {
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
  
}

/* body{
    /* display: flex; */
    /* display: grid;
    align-items: left;
    grid-template-areas:
    "firstpage"
    "secondpage"
    "thirdpage"
    "fourthpage"
    "lastpage"
    "footer";
   
} */ */
  /* div#firstpage{
        order: 1;
    }
    div#secondpage{
       order: 2;
        background: #FFFFFF;
       
    }
   div#thirdpage{
        order: 3;
        background: #F6F8F7;
      
    } */
    /* div#fourthpage{
        grid-area: fourthpage;
        background: #FFFFFF;
        grid-row: 4 / 2;
    }
    div#lastpage{
        grid-area: lastpage;
        background: #F6F8F7;
        grid-row: 5 / 2;
    
    }
    footer#footer{
        grid-area: footer;
         grid-row: 5 / 2;
    } */
   
    /* div#firstpage{
        grid-area: firstpage;
        grid-row: 1 / 2;
    }
    div#secondpage{
        grid-area: secondpage;
        background: #FFFFFF;
        grid-row: 2 / 2;
    }
   div#thirdpage{
        grid-area: thirdpage;
        background: #F6F8F7;
        grid-row: 3 / 2;
    }
    div#fourthpage{
        grid-area: fourthpage;
        background: #FFFFFF;
        grid-row: 4 / 2;
    }
    div#lastpage{
        grid-area: lastpage;
        background: #F6F8F7;
        grid-row: 5 / 2;
    }
    footer#footer{
        grid-area: footer;
         grid-row: 5 / 2;
         background: #FFFFFF;
    }  */ */

/* 

@media screen and (max-width: 480px){

    body{
        width: 50%;
    }
}
@media screen and (max-width: 768px){
    body{
        width: 100%;
    }
}
@media screen and (max-width: 1024px){
    body{
        width: 100%;
    }
}
@media screen and (max-width: 1200px){
    body{
        width: 100%;
    }
}
@media screen and (min-width: 1201px){
    body{
        width: 100%;
    }
} */

img#tbox{
position: absolute;
width: 38px;
height: 47.5px;
left: 112px;
top: 16px;
}
h2#thebox{
position: absolute;
/* width: 111px;
height: 35px; */
left: 40px;
top: 5px;
/* font-family: 'Work Sans'; */
font-style: italic;
font-weight: 700;
font-size: 30px;
line-height: 35px;
color: #2947A9;
}
a#hm{
width: 52px;
height: 21px;
/* font-family: 'Work Sans'; */
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #14171F;
flex: none;
text-decoration: none;
padding-right: 50px;
}
a#abt{
width: 81px;
height: 21px;
/* font-family: 'Work Sans'; */
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #14171F;
flex: none;
text-decoration: none;
padding-right: 50px;
}
a#ps{
width: 72px;
height: 21px;
/* font-family: 'Work Sans'; */
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #14171F;
flex: none;
text-decoration: none;
padding-right: 50px;
}
a#sr{
width: 74px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #14171F;
flex: none;
text-decoration: none;
padding-right: 50px;
}
a#cu{
width: 98px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
color: #F9995D;
flex: none;
text-decoration: none;
}
div#class{
    margin-left: 805px;
    margin-top: 22px;
   
}
nav#nav{
position: absolute;

height: 10px;
left: 0px;
right: 0px;
top: 0px;
background: #FFFFFF;
display:inline-block;
/* margin-bottom: 20px;
margin-top: 2px; */
}
img#hero{
position: absolute;
height: 646px;
width: 100%;
left: 0px;
right: 0px;
top: 70px;
background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 16.58%, rgba(255, 255, 255, 0) 72.38%), url(.jpeg);
object-fit: cover;
}
div#feat{
    position: absolute;
    width: 416px;
    height: 147px;
    left: 1047px;
    top: 530px;  
    background: #3559C7;
    border-radius: 2px 2px 0px 0px;
    align-items: center;
    
}
button#back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    position: absolute;
    width: 208px;
    height: 40px;
    right: 207px;
    bottom: -40px;
    background: #292E3D;
   color:white;
}
button#next{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
position: absolute;
width: 207px;
height: 40px;
right: 0px;
bottom: -40px;
background: #292E3D;
color: white;
}
/* div#fourthpage{
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 10px 10px; 
position: absolute;
width: 416px;
height: 150px;
right: -36px;
bottom: -70px;
background: #3559C7;
border-radius: 2px 2px 0px 0px;
}  */
h4#title{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
p#uni{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: center;
color:#FFFFFF; 
}
p#things{
position: absolute;
width: 556px;
height: 168px;
left: 106px;
top: 220px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
color: rgb(239, 233, 233);
}
img#arrowb{
    padding-right: 10px;
}
img#arrown{
    padding-left: 10px;
}
h2#h2{
position: absolute;
height: 42px;
left: 584px;
right: 585px;
top: 750px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #292E3D;

}
img#icon1{
position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;
}
img#icon2{
position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;
}
img#icon3{
position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;
}
p#nullam{
position:absolute;
width: 254px;
height: 38px;
top: 105px;
left:10px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #858EAD;
}
p#cursus{
position:absolute;
width: 254px;
height: 38px;
top: 105px;
left:10px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #858EAD;
}
p#ipsum{
position:absolute;
width: 254px;
height: 38px;
top: 105px;
left:10px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #858EAD;
}
h3#bestservices{
position: absolute;
top:50px;
left:10px;
width: 135px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #3D445C;
}
h3#bestteams{
position: absolute;
top:50px;
left:10px;
width: 135px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #3D445C;
}
h3#bestdesigns{
    position: absolute;
    top:50px;
    left:10px;
    width: 135px;
    height: 23px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #3D445C;
    }
div.box{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 20px 20px 40px;
position: absolute;
width: 292px;
height: 197px;
left: 216px;
top: 890px;
background: #FFFFFF;
border: 1.4px solid #E0E3EB;
border-radius: 4px;
}
div.box2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px 40px;
    position: absolute;
    width: 292px;
    height: 197px;
    left: 575px;
    top: 890px;
    background: #FFFFFF;
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
}
div.box3{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px 40px;
    position: absolute;
    width: 292px;
    height: 197px;
    left: 935px;
    top: 890px;
    background: #FFFFFF;
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
}
div#secondpage{
position: absolute;
height: 945px;
width: 100%;
left: 0px;
right: 0px;
top: 1159px;
background: #FFFFFF;
}
img#man{
position: absolute;
width: 902px;
height: 669px;
object-fit: cover;
left: calc(50% - 902px/2 - 155px);
top: calc(50% - 669px/2 - 64px);
/* background: url(.jpg);
box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
border-radius: 2px; */
}
h3#info{
    position: absolute;
width: 159px;
height: 42px;
left: 40px;
top: 50px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #FFFFFF;
}
p#exp{
position: absolute;
width: 388px;
height: 207px;
left: 40px;
top: 129px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
}
p#exp2{
    position: absolute;
    width: 388px;
    height: 207px;
    left: 40px;
    top: 230px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    }
button#work{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 20px;
gap: 10px;
position: absolute;
width: 219px;
height: 53px;
left: 40px;
top: 410px;
background: #FFFFFF;
border: 2px solid #2947A9;
border-radius: 6px;
}
p#more{
width: 179px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #2947A9;
}
div#about{
position: absolute;
width: 488px;
height: 523px;
left: calc(50% - 488px/2 + 364px);
top: 147px;
background: #2947A9;
box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
border-radius: 2px;
}
div#thirdpage{
position: absolute;
height: 608px;
left: 0px;
right: 0px;
top: 2050px;
background: #F6F8F7;
}
h3#works{
position: absolute;
height: 42px;
left: 644px;
right: 645px;
top:3px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #292E3D;
}
div#white{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;
position: absolute;
width: 271px;
height: 181px;
left: 216px;
top: 95px;
background: #FFFFFF;
box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
div#blue{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;
position: absolute;
width: 271px;
height: 181px;
left: 585px;
top: 95px;
background: #2947A9;
box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
div#white2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;
position: absolute;
width: 270px;
height: 181px;
left: 954px;
top: 95px;
background: #FFFFFF;
box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
div#blue2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    position: absolute;
    width: 271px;
    height: 181px;
    left: 216px;
    top: 350px;
    background: #2947A9;
    box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
    border-radius: 4px;
}
div#white3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    position: absolute;
    width: 271px;
    height: 181px;
    left: 585px;
    top: 350px;
    background: #FFFFFF;
    box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
    border-radius: 4px;
}
div#blue3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    position: absolute;
    width: 270px;
    height: 181px;
    left: 954px;
    top: 350px;  
    background: #2947A9;
    box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
    border-radius: 4px;
}
h4#build{
width: 128px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #2947A9;
}
h4#renovate{
width: 110px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
h4#consult{
width: 126px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #2947A9;
}
h4#repair{
width: 152px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
h4#draw{
width: 124px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #2947A9;

}
h4#power{
width: 76px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
div#years{
position: absolute;
height: 723px;
left: 0px;
right: 0px;
top: 2712px;
background: #FFFFFF;
}
div#happy{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 30px;
gap: 2px;
position: absolute;
width: 280px;
height: 155px;
left: calc(50% - 280px/2 - 68px);
top: 122px;
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
div#complete{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 30px;
gap: 2px;
position: absolute;
width: 361px;
height: 155px;
left: calc(50% - 361px/2 - 327.5px);
top: 221px;
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
div#awards{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 30px;
gap: 2px;
position: absolute;
width: 276px;
height: 155px;
left: calc(50% - 276px/2 - 124px);
top: 364px;
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
div#business{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 30px;
gap: 2px;
position: absolute;
width: 333px;
height: 155px;
left: calc(50% - 333px/2 - 292.5px);
top: 469px;
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
h2#84{
width: 115px;
height: 65px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
display: flex;
align-items: flex-end;
color: #292E3D;
}
h2#123{
width: 115px;
height: 65px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
display: flex;
align-items: flex-end;
text-align: center;
color: #292E3D;
}
h2#37{
width: 115px;
height: 65px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
display: flex;
align-items: flex-end;
color: #292E3D;
}
h2#30{
width: 115px;
height: 65px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
display: flex;
align-items: flex-end;
color: #292E3D;
}
p#clients{
position: absolute;
width: 238px;
height: 28px;
top: 80px;
left:50px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #667299; 
}
p#comp{
position:absolute;
top: 80px;
left:50px;
width: 238px;
height: 28px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #667299;
}
p#win{
position: absolute;
top: 80px;
left:50px;
width: 238px;
height: 28px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #667299;

}
p#in{
position: absolute;
top: 80px;
left: 50px;
width: 238px;
height: 28px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #667299;
}
img#hands{
position: absolute;
width: 97px;
height: 97px;
/* left: calc(50% - 97px/2 + 51.5px); */
top: -50px;
left: 210px;
background: url(image.png);
}
img#book{
position: absolute;
width: 79px;
height: 79px;
left: -35px;
top: -55px;
background: url(image.png);
}
img#cup{
position: absolute;
width: 93px;
height: 93px;
left: 203px;
top: 0px;
background: url(image.png);
}
img#pen{
position: absolute;
width: 84px;
height: 84px;
left: 280px;
top: 100px;
background: url(image.png);
}
h2#exp{
position: absolute;
width: 359px;
height: 140px;
right: 137px;
top: 172px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 70px;
color: #2947A9;
}
p#usa{
position: absolute;
width: 330px;
height: 74px;
right: 166px;
top: 352px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #525B7A;
}
button#contact{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 20px;
gap: 10px;
position: absolute;
width: 176px;
height: 53px;
right: 320px;
top: 493px;
background: #2947A9;
border-radius: 2px;
}
p#inside{
width: 98px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
div#minifooter{
position: absolute;
left: 0px;
width:1460x;
height:300px;
right: 0px;
top: 3450px;
bottom: 0px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(.jpg);
}
img#mini{
position: absolute;
width:1462px;
height:300px;
left:0px;
right:0px;
top: 3450px;
bottom: 0px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(.jpg);
}
h3#with{
position: absolute;
width: 754px;
height: 42px;
left: 112px;
top: 100px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #FFFFFF;
}
p#text{
width: 192px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;

}
button#con{
    /* opacity: 0; */
    background-color:transparent ;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: 155px;
    left: 1100px;

    
}
p#away{
position: absolute;
width: 396px;
height: 28px;
left: 112px;
top: 172px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}
div#fourthpage{
position: absolute;
height: 1098px;
left: 0px;
right: 0px;
top: 3735px;
background: #FFFFFF;
}
h2#projects{
position: absolute;
width: 148px;
height: 42px;
left: 112px;
top: 88px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #292E3D;
}
img#bar{
position: absolute;
left: 112px;
top: 180px;
width: 4px;
height: 28px;
background: #2947A9;
}
h5#all{
position: absolute;
left: 122px;
top: 150px;  
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #2947A9;
}
h5#commercial{
position: absolute;
left: 112px;
top: 190px; 
width: 142px;
height: 28px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #C2C7D6;

}
h5#residential{
position: absolute;
left: 112px;
top: 230px; 
width: 131px;
height: 28px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #C2C7D6;
}
h5#other{
position: absolute;
left: 112px;
top: 270px; 
width: 67px;
height: 28px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #C2C7D6;  
}
img#wall{
position: absolute;
left: 530px;
top: 170px;
width: 384px;
height: 247px;
background: url(.jpg);
flex: none;
align-self: stretch;
}
img#black{
position: absolute;
left: 950px;
top: 170px;
width: 384px;
height: 247px;
background: url(.jpg);
flex: none;
align-self: stretch; 
}
img#light{
    position: absolute;
    left: 530px;
    top: 540px;
    width: 384px;
    height: 247px;
    background: url(.jpg);
    flex: none;
    align-self: stretch;
}
img#height{
    position: absolute;
    left: 950px;
    top: 540px;
    width: 384px;
    height: 247px;
    background: url(.jpg);
    flex: none;
    align-self: stretch;
}
div#caption{
position:absolute;
top: 417px;
left: 530px;
width: 360px;
height: 44px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 25px 12px 16px;

background: #2947A9;
}
div#stone{
position:absolute;
top: 417px;
left: 950px;
width: 360px;
height: 44px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 25px 12px 16px;

background: #2947A9; 
}
div#house{
position:absolute;
top: 787px;
left: 530px;
width: 360px;
height: 44px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 25px 12px 16px;

background: #2947A9; 
}
div#height{
    position:absolute;
    top: 787px;
    left: 950px;
    width: 360px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 12px 16px;
    
    background: #2947A9; 
}
h3#wild{
width: 213px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
}
p#ash{
width: 322px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}
h3#wish{
    width: 199px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
}
p#rd{
   width: 350px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;

}
h3#mr{
    width: 227px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
}
p#st{
width: 314px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}
h3#gano{
    width: 153px;
    height: 23px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
p#mesa{
   width: 290px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}
button#prev{
    position:absolute;
width: 295px;
height: 64px;
top: 910px;
left: 530px;
padding:4px, 20px, 4px, 20px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
gap: 10px;
width: 295px;
height: 64px;
background: #292E3D;
}
button#coming{
position: absolute;
width: 295px;
height: 64px;
top: 910px;
left: 1040px;
padding: 4px, 20px, 4px, 20px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
gap: 10px;
width: 295px;
height: 64px;
background: #292E3D;
}
img#dots{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;
position:absolute;
left: 860px;
top: 930px;
width: 144px;
height: 16px;

}
p#exit{
position:absolute;
top: 5px;
left: 170px;
width: 43px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
p#entry{
position:absolute;
top: 5px;
left: 80px;
width: 41px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
div#lastpage{
position: absolute;
height: 632px;
left: 0px;
right: 0px;
top: 4833px;
background: #F6F8F7;
}
h3#you{
position: absolute;
width: 432px;
height: 42px;
left: calc(50% - 432px/2);
top: 60px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #292E3D;
}
p#ready{
    position: absolute;
width: 539px;
height: 46px;
left: calc(50% - 539px/2 + 0.5px);
top: 122px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #292E3D;

}
input#name{
    box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 8px;
gap: 10px;
position: absolute;
height: 41px;
left: 424px;
right: 736px;
top: 206px;
background: #FFFFFF;
border: 1px solid #E0E3EB;
border-radius: 4px;
}
input#email{
    box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 8px;
gap: 10px;
position: absolute;
height: 41px;
left: 736px;
right: 424px;
top: 206px;
background: #FFFFFF;
border: 1px solid #E0E3EB;
border-radius: 4px;
}
input#reason{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 8px;
gap: 10px;
position: absolute;
height: 41px;
left: 424px;
right: 736px;
top: 267px;
background: #FFFFFF;
border: 1px solid #E0E3EB;
border-radius: 4px;
}
input#phone{
    box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 8px;
gap: 10px;
position: absolute;
height: 41px;
left: 736px;
right: 424px;
top: 267px;
background: #FFFFFF;
border: 1px solid #E0E3EB;
border-radius: 4px;
}
input#message{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 8px;
    gap: 10px;
    position: absolute;
    height: 135px;
    left: 424px;
    right: 424px;
    top: 328px;
    background: #FFFFFF;
    border: 1px solid #E0E3EB;
    border-radius: 4px;
}
p#style{
    position: absolute;
height: 19px;
left: 424px;
right: 806px;
top: 471px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

}
button#it{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 20px;
gap: 10px;
position: absolute;
height: 53px;
left: 585px;
right: 584px;
top: 518px;
background: #2947A9;
border-radius: 2px;
}
p#txt{
    width: 64px;
height: 21px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
footer#footer{
position: absolute;
height: 377px;
left: 0px;
right: 0px;
top: 5465px;
background: #FFFFFF;
}
b#add{
    position: absolute;
left: 115px;
top: 90px;
width: 91px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #2947A9;
}
p#dela{
    position: absolute;
    left: 225px;
    top: 70px;
width: 365px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-transform: capitalize;
color: #292E3D;
}
b#call{
position: absolute;
left: 116px;
top: 150px;
width: 70px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
font-variant: small-caps;
color: #2947A9;
}
p#number{
    position: absolute;
    left: 225px;
    top: 130px;
    width: 136px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-transform: capitalize;
color: #292E3D;
}
b#mail{
    position: absolute;
    left: 115px;
    top: 210px;
    width: 63px;
    height: 23px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    font-variant: small-caps;
    color: #2947A9;
}
p#hello{
position: absolute;
left: 225px;
top: 190px;
width: 182px;
height: 23px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #000000;
}
img#foot{
    position: absolute;
width: 100%;
height:70px;
left: 0px;
right: 0px;
top: 5842px;
background: #2947A9;
}
label#news{
position: absolute;
width: 130px;
height: 23px;
right: 406px;
top: 85px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
font-variant: small-caps;
color: #2947A9;
}
input#letter{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 8px;
gap: 10px;
position: absolute;
width: 280px;
height: 41px;
right: 256px;
top: 128px;
background: #FFFFFF;
border: 1px solid #E0E3EB;
border-radius: 4px;
}
button#subs{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 20px;
gap: 10px;
position: absolute;
width: 136px;
height: 41px;
right: 112px;
top: 128px;
background: #F9995D;
border-radius: 4px;
color: white;
}
p#sc{
    position: absolute;
width: 73px;
height: 23px;
right: 463px;
top: 211px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
font-variant: small-caps;
color: #2947A9;
}
img#logg{
    position: absolute;
width: 163px;
height: 47.5px;
left: 112px;
top: 260px;
}
img#fb{
    position: absolute;
    left: 929px;
    right: 0%;
    top: 260px;
    bottom: 0%;
   
}
img#ln{
    position: absolute;
    left: 1000px;
    right: 2%;
    top: 260px;
    bottom: 2%;
   
}
img#tw{
    position: absolute;
left: 1075px;
right: 2%;
top: 260px;
bottom: 2%;

}

